body{
    margin: 0;
}

#headerJumbotron{
    background-image: linear-gradient(to bottom right, salmon, #8e44ad);
    height: 500px;
}

#logo{
    height: 420px;
    display: block;
    margin: auto;
    padding-top: 30px;
}

#introduction{
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#introImg{
    margin-top: 100px;
    background-image: url("./images/croped.jpg");
    height: 400px;
    width: 300px;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 5px 0px
}

#introText{
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

#appointment{
    background-color: #8e44ad;
    height: 40px;
    width: 200px;
    border-radius: 25px;
    color: white;
    outline: none;
}

#introText  h1{
    color: #a86dc2;
    font-family: 'Baloo Bhai 2';
    margin: 0;
}

#description{
    width: 500px;
    font-family: 'Baloo Bhai 2';
}

#address{
    color: black;
    text-decoration: none;
    font-family: 'Baloo Bhai 2';
    font-size: 25px;
}

#services{
    height: 900px;
}

#serviceHeader{
    height: 300px;
    background-image: url("./images/guilherme-petri-PtOfbGkU3uI-unsplash.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

#layer{
    background-color: rgba(142,68,173,0.7);
    height: 300px;
}

#layer p{
    color: white;
    font-size: 70px;
    font-family: 'Baloo Bhai 2';
    text-align: center;
}

#servicesJumbotron{
    background-color: white;
    background-image: url("./images/hair\ design\ by\ luz\ menu\ v1.jpg");
    width: 900px;
    height: 900px;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
}

#gallery{
    height: 500px;
    text-align: center;
    background: #a86dc2;
}

#gallery h1{
    font-size: 60px;
    font-family: 'Baloo Bhai 2';
    color: white;
}

#smo{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.icon{
    display: block;
    margin-right: 40px;
    height: 200px;
}

.icon:hover{
    animation: bounce 1s ease-in-out;
}

#phone{
    text-decoration: none;
    color: black;
    font-family: 'Baloo Bhai 2';
    font-size: 25px;
}

@media only screen and (max-width: 1000px){
    #servicesJumbotron{
        width: 600px;
        height: 600px;
        background-size: cover;
    background-repeat: none;
    background-position: center;
    }
}

@media only screen and (max-width: 900px){
    #introduction{
        height: 950px;
        flex-direction: column;
    }
    #introText{
        text-align: center;
        margin-left: 0;
    }
    #description{
        margin: auto;
    }
    #introImg{
        margin: auto;
    }
    .icon{
        height: 150px;
    }
}

@media only screen and (max-width: 699px){
    #servicesJumbotron{
        width: 470px;
        height: 470px;
        background-size: cover;
    background-repeat: none;
    background-position: center;
    }
    #services{
        height: 700px;
    }
    .icon{
        height: 100px;
    }
    #gallery{
        height: 400px;
    }
}

@media only screen and (max-width: 599px){
    #servicesJumbotron{
        width: 420px;
        height: 420px;
        background-size: cover;
    background-repeat: none;
    background-position: center;
    }
    #gallery{
        height: 340px;
    }
    #services{
        height: 600px;
    }
    #layer p{
        font-size: 50px;
    }
    #introText{
        width: 400px;
        margin: auto;
    }
    #description{
        width: 400px;
    }
    #introImg{
        height: 300px;
    }
    #gallery h1{
        font-size: 50px;
    }
}

@keyframes bounce{
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-20px);
    }
}

